.gameBanner-container {
  max-width: min(24vh, 250px);
  max-height: min(24vh, 250px);
  height: 100%;
  width: 100%;
  
  border-radius: 1rem;
  overflow: hidden;
}

.gameBanner-container button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  border: none;
  cursor: pointer;

  background: #2e2e2e;

}
.gameBanner-container button .imgBox{
  position: sticky;
  max-height: 100%;
  min-height: 100%;
  width: 100%;

  transition: 0.4s;
}

.gameBanner-container button:hover .imgBox{
  min-height: 75%;
}

.gameBanner-container button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
}

.gameBanner-container button:hover .imgBox img{
  object-position: top;
}

.gameBanner-container button .descripiton{
  border-radius: 0.7rem;
  padding-top: 0.7rem;

  background: #fefefefe;
  width: 100%;
  height: 100%;
}